
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../web_pages/template.css">
        <link rel="stylesheet" href="../web_pages/media_queries_tablet.css">
        <link rel="stylesheet" href="../web_pages/media_querries_phone.css">
        <title>Challenge Triple A - Dashboard</title>

    </head>
    <body>

        <header>
            <div class="title">
                Dashboard Monitoring {{machine}}
            </div>
        </header>

        <main>
            <div class="grid">
                <div class="System">
                    <section class="card">
                        <h2> System </h2>
                        <div class="card_content">
                            <div class="row">
                                <span class="left">OS:</span>
                                <span class="value"> {{os}} </span>
                            </div>
                            <div class="row">
                                <span class="left">Name:</span>
                                <span class="value"> {{machine}} </span>
                            </div>
                            <div class="row">
                                <span class="left">Uptime:</span>
                                <span class="value"> {{boot_time_since_boot_sec}} seconds </span>
                            </div>
                            <div class="row">
                                <span class="left">Users:</span>
                                <span class="value"> {{amount_of_users}} </span>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="CPU">
                    <section class="card">
                        <h2> CPU: </h2>
                        <div class="card_content">
                            <div class="row">
                                <span class="left"> cores: </span>
                                <span class="value"> {{cores}} </span>
                            </div>
                            <div class="row">
                                <span class="left"> Frequency: </span>
                                <span class="value"> {{freq}} GHz </span>
                            </div>
                            <div>
                                <div class="row">
                                    <span class="left">Utilization:</span>
                                    <span class="value"> {{cpu_usage}}% </span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="Memory">
                    <section class="card">
                        <h2>
                            Memory
                        </h2>
                        <div class="card_content">
                            <div class="row">
                                <span class="left">Total / in use:</span>
                                <span class="value"> {{total_ram}} / {{used_ram_gb}} GB </span>
                            </div>
                            <div>
                                <div class="row">
                                    <span class="left">Usage:</span>
                                    <span class="value"> {{percentage_memory}} % </span>
                                </div>
                            </div>
                            
                        </div>
                    </section>
                </div>

                <div class="Network">
                    <section class="card">
                        <h2>
                            Network
                        </h2>
                        <div class="card_content">
                            <div class="row">
                                <span class="left">IP Adress:</span>
                                <span class="value"> {{ip_addr}} </span>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="Process">
                    <section class="card">
                        <h2> Process </h2>
                        <div class="card_content">
                            <div class="row">
                                <span class="left">Top RAM processes:</span>
                            </div>

                            {% for item in top_ram_processes %}
                            <div class="row">
                                <span class="left">{{ item[1] }} :</span>
                                <span class="value">{{ item[0] }}%</span>
                            </div>
                            {% endfor %}

                            <div class="row">
                                <span class="left">Top CPU processes:</span>
                            </div>

                            {% for item in top_cpu_processes %}
                            <div class="row">
                                <span class="left">{{ item[1] }} :</span>
                                <span class="value">{{ item[0] }}%</span>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>

                <div class="Files">
                    <section class="card">
                        <h2>
                            Files
                        </h2>
                        <div class="card_content">
                            <div class="row">
                                <span class="left">Files type:</span>
                                <span class="value"> {{amount_files_per_extensions}} </span>
                            </div>
                            <div class="row">
                                <span class="left"> Files percentage: </span>
                                <span class="value"> {{percentage_files}} </span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>

    </body>
    <footer>
        <p>
            <a href="https://github.com/hugo-belaloui/AAA"><img src="../images/logo git hub.png" alt="git hub logo" class="git_logo"></a>
        </p>
    </footer>
</html>