body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: #ffffff;
}

header {
    background: linear-gradient(135deg, #021b3b, #013c7c, #021b3b);
    padding: 1.5rem ;
    text-shadow: 5px 5px 10px black;
    text-align: center;
    position: sticky;
    font-size: 1.5rem;
    font-weight: bold;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-row: 1fr 1fr;
    gap: 1.5rem;
    padding: 2rem;
}


.card {
    background: white;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px  rgba(0, 0, 0, 0.1), 0 2px 4px  rgba(0, 0, 0, 0.06);
    border-top: 4px solid #013c7c;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 15px  rgb(16, 5, 57);
}

h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: #013c7c;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 0.5rem;
}

.card_content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}


.row {
    display: flex;
    justify-content: space-between;
}

.left {
    color: #6b7280;
    font-weight: bolder;
}

.value {
    font-weight: bold;
    color: #1f2937
}

.middle{
    color: #013c7c;
    font-weight: bolder;
}

.system{
    grid-column: 1/2;
    grid-row: 1/2;
}

.CPU{
    grid-column: 2/3;
    grid-row: 1/2;
}

.Memory{
    grid-column: 3/4;
    grid-row: 1/2;
}

.Network{
    grid-column: 1/2;
    grid-row: 2/3;
}

.Process{
    grid-column: 2/3;
    grid-row: 2/3;
}

.Files{
    grid-column: 3/4;
    grid-row: 2/3;
}

footer {
    text-align: center;
    padding: 15px;
    background: #eee;
    margin-top: 40px;
}

.git_logo{
    width: 70px;
}

